name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

env:
  MASTODON_VERSION: "4.5.2"

# Borrowed from
# https://github.com/docker/build-push-action
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: mastodon/mastodon
          path: ./mastodon
          fetch-depth: 1
          ref: v${{ env.MASTODON_VERSION }}
      
      - name: Apply patches
        working-directory: mastodon
        run: |
          git apply ../patches/add_password_grant_flow.patch
          git apply ../patches/remove_require_client_credentials.patch

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: neetshin/mastodon-dev:${{ env.MASTODON_VERSION }}
